<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CHB Đăng kýs</title>
  <link rel="shortcut icon" type="image/png" href="/images/logos/logo.png" />
  <link rel="stylesheet" href="/css/styles.min.css" />
</head>

<body>
  <!--  Body Wrapper -->
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <div
      class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
      <div class="d-flex align-items-center justify-content-center w-100">
        <div class="row justify-content-center w-100">
          <div class="col-md-8 col-lg-6 col-xxl-3">
            <div class="card mb-0">
              <div class="card-body">
                <a href="./index.html" class="text-nowrap logo-img text-center d-block py-3 w-100">
                  <img src="../assets/images/logos/dark-logo.svg" width="180" alt="">
                </a>
                <p class="text-center">CHB Food</p>
                <form th:action="@{/auth/sign-up}" th:object="${userDetail}" method="post">
                <div class="mb-3">
                    <label for="exampleInputtext1" class="form-label">Cơ sở</label>
                    <input type="text" class="form-control" id="exampleInputtext1" name="department">
                  </div>
                  <div class="mb-3">
                    <label for="exampleInputtext1" class="form-label">Tài Khoản</label>
                    <input type="text" class="form-control" id="exampleInputtext1" name="userName">
                  </div>
                  <div class="mb-4">
                    <label for="exampleInputPassword1" class="form-label">Mật khẩu</label>
                    <input type="password" id="password" class="form-control" name="passWord">
                  </div>
                  <div class="mb-4">
                    <label for="exampleInputPassword1" class="form-label">Nhập lại Mật khẩu</label>
                    <input type="password" id="confirmPassword" class="form-control">
                  </div>
                  <button type="submit" class="btn btn-primary w-100 py-8 fs-4 mb-4 rounded-2">Đăng ký</button>
                  <div class="d-flex align-items-center justify-content-center">
                    <p class="fs-4 mb-0 fw-bold">Đã có sẵn tài khoản?</p>
                    <a class="text-primary fw-bold ms-2" th:href="@{/auth/login}">Đăng nhập</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="/js/auth/register.js"></script>
  <script src="/libs/jquery/dist/jquery.min.js"></script>
  <script src="/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>