<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:fragment="areas(title, cssFile, contentTitle, content, jsFile)">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>

<link rel="stylesheet" th:href="@{/css/dashboardStyle.css}">

</head>
<body>
	<div class="container-fluid">
		<div class="row">

			<!-- Side bar -->
			<div th:replace="~{/layout/fragment::bodyLeft}"></div>

			<button class="navbar-toggler d-md-none" type="button"
				data-toggle="collapse" data-target="#sidebarCollapse"
				aria-controls="sidebarCollapse" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<!-- Main content -->
			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">

				<div class="dashboard-container">
					<div th:insert="${content}" id="content"></div>
				</div>

			</main>

		</div>
	</div>







	<!-- Bootstrap JS -->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	<script th:src="@{/js/dashboard.js}"></script>
</body>
</html>
