.color-1 {
    background-color: #FF5733 !important; /* Color for index 1 */
}

.color-2 {
    background-color: #33FF57; /* Color for index 2 */
}

.color-3 {
    background-color: #3366FF; /* Color for index 3 */
}