@import
	url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap')
	;
	
	
.form-select{
	width: 20% !important;
}	
	
.date{
	width: 30% !important;
}	

.hidden {
    display: none !important;
}

.reset{
	margin-left: 20px;
    align-items: center;
    display: flex;
    font-size: 1.4rem;
}

::selection{
  background: #4285f4;
}

.select-btn i{
  font-size: 31px;
  transition: transform 0.3s linear;
}


.select-btn {
	background: rgb(19, 222, 185);
    height: 38px;
    width: 100%;
    margin-right: 60px;
    padding: 0 25px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 7px;
    position: relative;
    color: white;
}

.content {
	margin-top: 10px;
	padding: 20px;
	margin-right: 30px;
	border-radius: 5px;
	display: none;
	position: absolute;
	background: rgb(19, 222, 185);
	color: white;
}

.wrapperr.active .content {
	display: block;
}

.wrapperr.disactive .content {
	display: none;
}

.wrapperr.active .select-btn i{
	font-size: 10px;
	transition: transform 0.3s linear;
}

.search input {
	height: 30px;
	font-size: 1rem;
	padding: 0 10px 0 10px;
	outline: none;
	border: 1px solid #b3b3b3;
	border-radius: 5px;
}

.content .search{
  position: relative;
}

.search i{
  top: 50%;
  left: 15px;
  font-size: 20px;
  pointer-events: none;
  transform: translateY(-50%);
  position: absolute;
}

.content .options {
	margin-top: 10px;
	max-height: 170px;
	overflow-y: auto;
	padding-right: 10px;
}

.options::-webkit-scrollbar {
	width: 10px;
}

.options::-webkit-scrollbar-track {
	background: #f1f1f1;
	border-radius: 25px;
}

.options::-webkit-scrollbar-thumb {
	background: #ccc;
	border-radius: 25px;
}

.options li {
	height: 30px;
	font-size: 14px;
	padding: 0 13px;
}

.options li:hover {
	background: #FFC107;
}

.options li, .select-btn {
	display: flex;
	cursor: pointer;
	align-items: center;
}

